<nav class="sidebar">
  <div class="sidebar-header">
    <h3>Hệ Thống Quản Lý</h3>
  </div>
  
  <ul class="menu-list">
    <li *ngFor="let item of menuItems" class="menu-item">
      <!-- Items without children - direct navigation -->
      <div *ngIf="!item.children?.length" class="menu-link">
        <a [routerLink]="item.route" 
           routerLinkActive="active"
           class="link-content">
          <span class="icon">{{ item.icon }}</span>
          <span class="label">{{ item.label }}</span>
        </a>
      </div>
      
      <!-- Items with children - toggle behavior -->
      <div *ngIf="item.children?.length" 
           class="menu-link has-children"
           (click)="toggleExpanded(item.route)">
        <div class="link-content expandable">
          <span class="icon">{{ item.icon }}</span>
          <span class="label">{{ item.label }}</span>
          <span class="expand-icon" [class.expanded]="isExpanded(item.route)">
            ▼
          </span>
        </div>
      </div>
      
      <ul *ngIf="item.children?.length && isExpanded(item.route)" 
          class="submenu">
        <li *ngFor="let child of item.children" class="submenu-item">
          <a [routerLink]="child.route" 
             routerLinkActive="active"
             class="submenu-link">
            <span class="icon">{{ child.icon }}</span>
            <span class="label">{{ child.label }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
